<app-tille *ngIf="content || title" [content]="content" [title]="title"></app-tille>
<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Hợp đồng vay mượn (Loan Contract)</strong>
      </c-card-header>
      <c-card-body>
        <c-row>
          <form>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="basic-form-gender">Người vay</label>
                   <select class="form-select" id="borrower-name" [(ngModel)]="newLoanContract.borrowerId" name="borrowerId" aria-label="Default select example">
                    <option selected="selected" disabled>Chọn tên người vay</option>
                    <option *ngFor="let borrower of BorrowerInformationList" [value]="borrower.id">{{ borrower.fullName }}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="basic-form-gender">Thông tin khoản vay</label>
                  <select class="form-select" id="basic-form-gender" aria-label="Default select example">
                    <option selected="selected">Chọn thông tin khoản vay</option>
                    <option value="0">Khoản vay 1</option>
                    <option value="1">Khoản vay 2</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">Ảnh giấy đề nghị vay vốn</label>
                  <input class="form-control" type="file">
                </div>
                <div class="mb-3">
                  <label class="form-label">Ảnh giấy tờ chứng minh thu nhập</label>
                  <input class="form-control" type="file">
                </div>

              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Ảnh giấy tờ chứng minh mục đích vay vốn</label>
                  <input class="form-control" type="file">
                </div>
                <div class="mb-3">
                  <label class="form-label"> Ảnh tài sản đảm bảo</label>
                  <input class="form-control" type="file">
                </div>
                <div class="mb-3">
                  <label class="form-label">Nơi cất giấy hợp đồng</label>
                  <input class="form-control" type="text" placeholder="Cất ở đâu?">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="basic-form-textarea">Note</label>
                  <textarea class="form-control" id="basic-form-textarea" rows="2" placeholder="Note"></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
