<app-tille *ngIf="content || title" [content]="content" [title]="title"></app-tille>

<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Trả góp (Loan Repayment)</strong>
      </c-card-header>
      <c-card-body>
        <c-row>
          <form>
            <div class="mb-3">
              <label class="form-label" for="basic-form-gender">Người vay</label>
              <select class="form-select" id="basic-form-gender" aria-label="Default select example">
                <option selected="selected">Chọn tên người vay</option>
                <option value="0">người 1</option>
                <option value="1">người 2</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-form-gender">Thông tin khoản vay</label>
              <select class="form-select" id="basic-form-gender" aria-label="Default select example">
                <option selected="selected">Chọn thông tin khoản vay</option>
                <option value="0">Khoản vay 1</option>
                <option value="1">Khoản vay 2</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-form-name">Số tiền đã trả</label>
              <input class="form-control" id="basic-form-name" type="number" placeholder="Số tiền đã trả">
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-form-name">Ngày trả</label>
              <input class="form-control" id="basic-form-name" type="date" >
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-form-textarea">Note</label>
              <textarea class="form-control" id="basic-form-textarea" rows="2" placeholder="Note"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
