<div style="overflow-x: auto;">
  <table class="table table-bordered table-contextual" style="width: auto; table-layout: fixed;">
    <colgroup>
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
    </colgroup>
    <thead>
      <tr>
        <th> # </th>
        <th> First name </th>
        <th> Product </th>
        <th> Amount </th>
        <th> Deadline </th>
        <th> First name </th>
        <th> Product </th>
        <th> Amount </th>
        <th> Deadline </th>
        <th> First name </th>
        <th> First name </th>
        <th> Product </th>
        <th> Amount </th>
        <th> Deadline </th>
        <th> First name </th>
        <th> Product </th>
        <th> Amount </th>
        <th> Deadline </th>
        <th> First name </th>
        <th> First name </th>


      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <td> 2 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
      </tr>
      <tr class="table-danger">
        <td> 2 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>

      </tr>
      <tr class="table-success">
        <td> 2 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
      </tr>
    </tbody>
  </table>
</div>
