<h5>Thông tin người vay</h5>
<div style="overflow-x: auto;">
  <table class="table table-bordered table-contextual" style="width: auto; table-layout: fixed;">
    <colgroup>
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 200px;">
    </colgroup>
    <thead>
      <tr>
        <th> # </th>
        <th> Họ và tên </th>
        <th> Số điện thoại </th>
        <th> Email </th>
        <th> Số căn cước công dân </th>
        <th> Ngày cấp </th>
        <th> Nơi cấp </th>
        <th> Sinh ngày </th>
        <th> Quên quán </th>
        <th>Địa chỉ thường trú </th>
        <th> Giới tính </th>
        <th> Note </th>

      </tr>
    </thead>
    <tbody>
      <tr >
        <td> 2 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
        <td> Flash </td>



      </tr>
      <tr >
        <td> 2 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
        <td> Flash </td>


      </tr>
      <tr >
        <td> 2 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Flash </td>
        <td> $245.30 </td>
        <td> July 1, 2015 </td>
        <td> Messsy Adam </td>
        <td> Messsy Adam </td>
        <td> Flash </td>

      </tr>
    </tbody>
  </table>
</div>
